body {
  background: white;
  color: black;
  --tc-background: black;
  --tc-ctxmenu-color: #2e2e2e;
  --tc-link-color: #38a6ff;
}
@media (prefers-color-scheme: dark) {
  body {
    background: #2a2a2e;
    color: #ccc;
    --tc-background: #2a2a2e;
    --tc-ctxmenu-color: #2e2e2e;
    --tc-link-color: #38a6ff;
  }
}
